<div class="container">
    <div class="col-4">
       <app-radial-bar [radialArr]="radialArr1"></app-radial-bar>
    </div>
    <div class="col-4">
        <app-radial-bar [radialArr]="radialArr2"></app-radial-bar>

    </div>
    <div class="col-4">
        <app-radial-bar [radialArr]="radialArr3"></app-radial-bar>
    </div>
</div>

<mat-divider ></mat-divider>

<div>
    <app-widget-area [data]="longArea"></app-widget-area>
</div>

<br>

<mat-divider ></mat-divider>

<div class="container">
    <div class="col-4">
        <app-widget-area [data]="shortArea"></app-widget-area>
    </div>
    <div class="col-4">
        <app-widget-area [data]="shortArea"></app-widget-area>
    </div>
    <div class="col-4">
        <app-widget-area [data]="shortArea"></app-widget-area>
    </div>
</div>
<br>


